@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 font-sans antialiased text-gray-dark bg-gray-background;
  }

  #root {
    @apply min-h-screen;
  }
}

